* {
    margin: 0;
    padding: 0;
}
body{
   /* background: url('starwars.png')*/
}
h1{
    color: rgb(204, 44, 44);
}

#container{
    width: 1000px;
    height: 800px;
    border: 1px solid rgb(235, 9, 9);
    margin: 100px auto;
    position: relative;
    border-radius: 15px;   
}

.card {
    width: 130px;
    height: 180px;
    position: absolute;
    border-radius: 10px;
    border: solid;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    
}

back{
    background: url('back.jpg');

}
#imgMatch{
    position: relative;
    top:250px;
    transition-property: top, opacity;
    transition-duration: 1.5s;
    opacity: 1;
    z-index: -1;
}
#links{
    background:purple;
}

i{
    background: pink;
}