/* @font-face {
    src: url('fonts/SfDistantGalaxy-0l3d.ttf');
    font-family: Star;
}
*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #555;
   /* background: url('images/starwars.png')*/
}
#container{
    width: 1000px;
    height: 800px;
    border: 1px solid rgb(235, 9, 9);
    margin: 100px auto;
    position: relative;
    border-radius: 15px;   
    background-color: #2d038f;
}

.card {
    width: 140px;
    height: 160px;
    position: absolute;
    border-radius: 10px;
    border: solid;
    left: 20px;
    transition: .5s;
    perspective: 600px;
}

.card:hover{
    box-shadow: 10px 10px 10px #23dd1d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    backface-visibility: hidden;
    
}

.back{
    background: url('images/back.jpg')no-repeat center;
    background-size: 100%;
    background-color: white;
}

.back.flipped{
    transform: rotateY(180deg);
}

.front{
    transform: rotateY(-180deg);  
}

.front.flipped{
    transform: rotateY(0deg);

}
img{
    background: center no-repeat;
}
