 @font-face {
    src: url('fonts/SfDistantGalaxy-0l3d.ttf');
    font-family: Star;
    text-shadow: 5px 5px yellow;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #555;
    background: url('images/starwars.png');
    text-align: center;
    overflow: hidden;
}

h1{
    font-family: Star;
    text-shadow: 0 0 4px yellow ;
    font-size: 8vh;
    margin: 0;
    margin-top: 2vh;

}
#container{
    width: 55vh;
    height: 65vh;
    position: relative;
    margin: 100px auto;
    
    border-radius: 15px;   
    background-color: #2d038f;
    margin-top: 0vh;
}

.card {
    width: 10vh;
    height: 13vh;
    position: absolute;
    border-radius: 10px;
    border: solid;
    left: 20px;
    transition: .5s;
    perspective: 600px;
    overflow: hidden;
}



.card:hover{
    box-shadow: 3px 3px 3px #23dd1d;
    transition: .5s;
}

.face.flipped.match{
    box-shadow: 10px 10px 10px #c00d0d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    backface-visibility: hidden;
    
}

.back{
    background: url('images/back.jpg')no-repeat center;
    background-size: 100%;
    background-color: white;
}

.back.flipped{
    transform: rotateY(180deg);
    
}

.front{
    transform: rotateY(-180deg);  
}

.front.flipped{
    transform: rotateY(0deg);

}


img#modalGameOver{
    position: absolute;
    top: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -10;
    
}

#imgGameOver{
    margin-top: 100px;
}

#imgMatchSign{
    position: relative;
    top: 250px;
    transition-property: top, opacity;
    transition-duration: 1.5s;
    opacity: 1;
    z-index: -1;
}