 @font-face {
    src: url('fonts/SfDistantGalaxy-0l3d.ttf');
    font-family: Star;
    text-shadow: 5px 5px yellow;
}

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #555;
    background: url('images/starwars.png');
    text-align: center;
    overflow: hidden;
    background-size: 100%;
}

h1{
    font-family: Star;
    text-shadow: 0 0 4px yellow ;
    font-size: 7vh;
    margin: 0;
    margin-top: 2vh;
}

.info-container{
    
    width: 50.5vh;
    height: 4vh;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 0;
    border-radius: 10px;
    text-align: justify;
}

h3{
    font-family: Star;
    font-size: 1.3vh;
    letter-spacing: 1px;
    color: white;
    float: left;
    margin: 5px;
    
}

#instructions{
    background:#fffefe;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vh;
    font-family: Star;
    width: 12vh;
    height: 2vh;
    border-radius: 10px;
    margin-left: 3vh;
    
    
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  position: relative;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.closeinstructions {
  color: #bfb5d6;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeinstructions:hover,
.closeinstructions:focus {
  color: #2d038f;
  text-decoration: none;
  cursor: pointer;
}
h2{
    margin-bottom: 2vh;
    letter-spacing: 2px;
}

span{
    font-family: Star;
    font-size: 1.6vh;
    letter-spacing: 1px;
    color: white;
    float: left;
    margin: 5px;
    
}
#container{
    width: 50.5vh;
    height: 61vh;
    position: relative;
    margin:auto;
    border-radius: 15px;   
    background:linear-gradient(to right,  #2d038f,  #726988);
    margin-top: 0;
}

.card {
    width: 10vh;
    height: 13vh;
    position: absolute;
    border-radius: 10px;
    left: 20px;
    transition: .5s;
    perspective: 600px;
    overflow: hidden;
}



.card:hover{
    box-shadow: 3px 3px 3px #23dd1d;
    transition: .5s;
}

.match{
    box-shadow: 10px 10px 10px #1b3075;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    backface-visibility: hidden;
    
    
}

.back{
    background: url('images/back.jpg')no-repeat center;
    background-size: 100%;
    background-color: white;
}

.back.flipped{
    transform: rotateY(180deg);
    
}

.front{
    transform: rotateY(-180deg);  
    background: center no-repeat;
}

.front.flipped{
    transform: rotateY(0deg);

}


#modalGameOver{
    position: absolute;
    top: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -2;
    
}

#imgGameOver{
    margin-top: 100px;
}

#imgMatchSign{
    position: relative;
    top: 250px;
    transition-property: top, opacity;
    transition-duration: 1.5s;
    opacity: 1;
    z-index: -1;
}

.links{
    width: 100%;
    height: 20vh;
    margin: auto;
    font-size: 2vh;

}

.fa-linkedin, .fa-github, .fa-envelope {
  color: white;
  margin: 1.7vh;
}


.fa {
  height: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 1.7vh;
  background:#2d038f;
  font-size: 30px;
 
}

.fa:hover{
    opacity: 0.7;
}


#playagain{
    background:#000000;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vh;
    font-family: Star;
    width: 16vh;
    height: 5vh;
    border-radius: 10px;
    margin-left: 3vh;
        
}


/* The Modal (background) */
.modalplayagain {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}




@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.closeplayagain {
  color: #bfb5d6;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeplayagain:hover,
.closeplayagain:focus {
  color: #2d038f;
  text-decoration: none;
  cursor: pointer;
}